<h1>
  Movie #<%= @id %> details
</h1>

<a href="/movies">
  Go back
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @title %>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%= @year %>
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%= @duration %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @description %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src=<%= @image %>>
  </dd>

  <dt>
    Director
  </dt>
  <dd>
    <%= @director %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@created) %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@updated) %>
  </dd>
</dl>

<hr>
